html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

img { max-width: 100% }

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
}

.button {
  border: 0;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
}

.main-header {
  min-height: 56px;
}

.main-header-logo {
  position: relative;
  width: 140px;
}

.main-header-logo img {
  position: absolute;
  display: block;
  z-index: 10;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 73px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation li {
  padding: 15px 0;
}

.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:focus {
  opacity: 0.3;
}

.main-navigation a:active {
  color: #766357;
}

.info-navigation {
  display: flex;
  width: 460px;
  flex-wrap: wrap;
}

.info-navigation a {
  display: block;
}

.info-navigation li:nth-child(odd) {
  width: 240px;
}

.order-navigation {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 460px;
}

.order-navigation li:nth-child(odd) {
  width: 240px;
  text-align: right;
}

.sedona-welcome {
  position: relative;
  height: 510px;
  text-align: center;
  background-image: url(../img/background-photo.jpg);
  background-color: #5780a5;
  background-position-y: -56px;
}

.sedona-welcome::before {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  width: 1200px;
  height: 57px;
  background-image: url(../img/intro-mask.svg);
}

.sedona-logo {
  margin-top: 76px;
}

.advantage-container {
  background: #ffffff;
}

.advantage-text-container {
  padding: 0;
  padding-top: 58px;
  padding-bottom: 37px;
}

.advantage-slogan {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.advantage-list-headline {
  line-height: 26px;
}

.advantage-list,
.advantage-list-city {
  display: flex;
  flex-wrap: wrap;
}

.advantage-list,
.advantage-list-city {
  width: 1200px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantage-list-item,
.advantage-list-city-item {
  width: 400px;
}

.advantage-list-item {
  padding: 47px 0;
  text-align: center;
  min-height: 256px;
}

.advantage-list-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.advantage-item-headline {
  margin: 0;
  margin-bottom: 24px;
}

.advantage-item-number {
  display: block;
  margin-bottom: 19px;
}

.advantage-item-gray {
  background-color: #eeeeee;
}

.advantage-item-devil-bridge,
.advantage-item-real-town {
  width: 100%;
  color: #ffffff;
  background-color: #81b3d2;
  background-repeat: no-repeat;
}

.advantage-item-real-town {
  order: -2;
  padding-right: 860px;
  padding-left: 60px;
  background-position-x: right;
  background-image: url("../img/advantage-background-1.jpg");
}

.advantage-item-devil-bridge {
  padding-left: 800px;
  background-position-x: left;
  background-image: url("../img/advantage-background-2.jpg");
}

.advantage-text {
  text-align: center;
}

.advantage-item-city {
  order: -1;
}

.advantage-list-city {
  background-color: #ffffff;
}

.advantage-list-city-item {
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  min-height: 330px;
}

.advantage-city-headline {
  position: relative;
  padding-top: 140px;
  font-size: 21px;
}

.advantage-city-headline::before {
  position: absolute;
  display: block;
  content: "";
  width: 80px;
  height: 76px;
  background-repeat: no-repeat;
}

.advantage-city-housing::before {
  top: 39px;
  left: 91px;
  background-image: url(../img/advantage-home.svg);
}

.advantage-city-food::before {
  top: 41px;
  left: 93px;
  background-image: url(../img/advantage-burger.svg);
}

.advantage-city-souvenirs::before {
  top: 35px;
  left: 98px;
  background-image: url(../img/advantage-present.svg);
}

.advantage-item-text {
  padding: 0 80px;
}

.map {
  width: 100%;
  height: 474px;
  background-image: url("../img/map.jpg");
}

.hotel-search {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.hotel-search-container {
  padding-top: 50px;
}

.hotel-search-question {
  font-size: 30px;
  line-height: 36px;
}

.hotel-search-text {
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 51px;
  width: 440px;
}

.hotel-search-button {
  width: 570px;
  padding-top: 29px;
  padding-bottom: 29px;
  font-size: 21px;
  background-color: #766357;
}

.main-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 35px;
  padding-left: 132px;
  padding-right: 105px;
}

.modal-booking {
  width: 568px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -285px;
  background-color: #ffffff;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.modal-booking-container {
  padding: 56px;
}

.modal-invis {
  display: none;
}

.date {
  position: relative;
  display: flex;
  margin: 0;
  margin-bottom: 29px;
}

.calendar {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 0;
  right: 0;
}

.calendar::after {
  position: absolute;
  display: block;
  content: "";
  top: 8px;
  right: 7px;
  width: 21px;
  height: 22px;
  background-image: url(../img/calendar.svg);
}

.label-date {
  display: block;
  width: 113px;
  margin: 0;
  padding-top: 7px;
  text-align: left;
}

.input-date {
  width: 344px;
}

.number-persons {
  display: flex;
}

.number-field {
  position: relative;
  display: flex;
  margin: 0;
  margin-bottom: 56px;
}

.number-field-adult {
  margin-right: 4px;
}

.label-numbers {
  text-align: left;
  width: 113px;
  padding-top: 6px;
}

.label-child {
  padding-left: 51px;
}

.number-input {
  width: 113px;
}

.input-date,
.number-input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.input-date {
  padding: 6px 9px;
}

.number-input {
  padding: 6px 0;
  padding-left: 53px;
}

.btn-plus {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 0;
  right: 0;
}

.btn-plus::after {
  position: absolute;
  display: block;
  content: "";
  top: 14px;
  right: 13px;
  width: 11px;
  height: 11px;
  background-image: url(../img/icon-plus.png);
}

.btn-minus {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 0;
  right: 0;
}

.btn-minus::after {
  position: absolute;
  display: block;
  content: "";
  top: 19px;
  right: 88px;
  width: 12px;
  height: 3px;
  background-image: url(../img/icon-minus.png);
}

.form-search input::placeholder {
  color: #000000;
  text-transform: uppercase;
}

.modal-booking-button {
  width: 458px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 21px;
  background-color: #81b3d2;
  cursor: pointer;
}

.main-footer {
  background-color: #fdfdfd;
}

.footer-tag {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer-icon {
  display: block;
  width: 48px;
  height: 48px;
  margin-left: 5px;
  background-color: #81b3d2;
}

.icon-svg  {
  fill: #ffffff;
}

.footer-icon:hover {
  background-color: #669ec0;
}

.footer-icon:active {
  background-color: #5496bd;
}

.footer-icon:active > .icon-svg {
  fill: #88b6d1;
}

.twitter-icon {
  padding-top: 17px;
}

.facebook-icon {
  padding-top: 14px;
}

.youtube-icon {
  padding-top: 18px;
}

.footer-social {
  padding-left: 25px;
  text-align: center;
}

.footer-social_list {
  display: flex;
  list-style: none;
  padding: 0;
}

.footer-copyright {
  display: flex;
}

.footer-copyright-text {
  display: block;
  padding-top: 10px;
}

.footer-logo-html {
  display: block;
  width: 120px;
  padding-left: 10px;
}

.html-academy-svg {
  fill: #000000;
}

.html-academy-svg:hover {
  fill: #88b6d1;
}

.html-academy-svg:active {
  fill: #bdbbbc;
}

.filters {
  background-image: url(../img/background-photo-search.jpg);
}

.filter-search {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.filter-range {
  width: 317px;
  margin-left: auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 37px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 33px;
  vertical-align: top;

  cursor: pointer;
}

.min-price,
.max-price {
  width: 155px;
  padding-left: 65px;
}

.max-price {
  padding-left: 57px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/*------*/
.filter-container {
  display: flex;
  padding: 0 73px;
  padding-top: 27px;
  padding-bottom: 6px;
}

.filter-fieldset {
  display: flex;
  flex-wrap: wrap;
  width: 252px;
  padding: 0;
  border: none;
}

.filter-checkbox {
  display: block;
  width: 240px;
  padding-left: 2.6em;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filter-checkbox-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-legend {
  margin-left: -4px;
  margin-bottom: 25px;
}

.checkbox {
  position: absolute;
  width: 1.7em;
  height: 1.7em;
  margin-left: -2.8em;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-checkbox-input:checked + .checkbox {
  width: 1.9em;
  margin-left: -2.8em;
  background-image: url(../img/checkbox-on.svg);
}

.filter-checkbox-input:disabled + .checkbox,
.checkbox__name {
  opacity: 0.3;
}
/*------*/

.catalog {
  background-color: #fefefe;
}

.catalog-container {
  padding-top: 30px;
}

.search-settings {
  display: flex;
  justify-content: flex-start;
  padding: 0 73px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 0px 0px rgba(229,229,229,1);
}

.result-search {
  width: 160px;
}

.result-search b {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sort {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  padding-top: 1px;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
}

.sort-name {
  padding-left: 3px;
  font-weight: 400;
}

.sort-types,
.sort-up-down {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
}

.sort-up-down {
  margin-left: auto;
  padding-left: 0;
  font-size: 15px;
}

.sort-up,
.sort-down {
  color: #cacaca;
}

.sort-column-current {
  color: #81b3d2;
}

.sort-up-down li:first-of-type {
  margin-right: 7px;
}

.sort-up-down a:hover {
  color: #000000;
}

.sort-up-down a:active {
  color: #81b3d2;
}

.sort-types {
  flex-wrap: wrap;
  padding-left: 9px;
}

.sort-types a {
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted #81b3d2;
}

.sort-types li {
  margin-left: 32px;
}

.sort-type-current a {
  color: #81b3d2;
  opacity: 1;
  border-bottom: none;
}

.sort-types a:hover {
  opacity: 1;
  color: #81b3d2;
}

.sort-types a:active {
  opacity: 1;
  color: #000000;
  border-bottom: none;
}

.catalog-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.catalog-list h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.catalog-item-text  {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.catalog-item-info {
  display: flex;
  padding-left: 165px;
}

.catalog-item-setting-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
}

.catalog-item-headline {
  width: 100%;
  margin: 0;
  margin-bottom: 9px;
}

.catalog-item-headline a {
  color: #000000;
}

.catalog-item-headline a:hover {
  color: #81b3d2;
}

.catalog-item-headline a:active {
  opacity: 0.3;
}

.catalog-item-type {
  width: 116px;
}

.catalog-item-price {
  flex: 1;
}

.catalog-item-buttons {
  width: 100%;
  margin-top: 13px;
}

.catalog-item-rating {
  position: relative;
  flex: none;
  margin-left: auto;
  margin-top: auto;
  width: 113px;
}

.catalog-item-rating::before {
  position: absolute;
  content: "";
  top: -66px;
  right: 0;
  height: 23px;
  background-repeat: repeat-x;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='22' viewBox='0 0 23 17'%3E%3Cpath fill='%2381B3D2' d='M9.002 0l2.126 6.494h6.877l-5.564 4.012L14.566 17l-5.564-4.013L3.438 17l2.126-6.494L0 6.494h6.878z'/%3E%3C/svg%3E");
}

.rating-four::before {
  width: 87px;
}

.rating-three::before {
  width: 64px;
}

.rating-two::before {
  width: 40px;
}

.catalog-item {
  padding: 0 73px;
  padding-top: 25px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-position-x: 72px;
  background-position-y: 31px;
  box-shadow: 0px 1px 0px 0px rgba(229,229,229,1);
}

.catalog-item-amara {
  background-image: url(../img/catalog-amara.jpg);
}

.catalog-item-desert {
  background-image: url(../img/catalog-desert.jpg);
}

.catalog-item-villas {
  background-image: url(../img/catalog-villas.jpg);
}

.button-catalog {
  font-size: 14px;
  line-height: 21px;
  padding: 3px 0;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.details {
  width: 110px;
  margin-right: 1px;
  background-color: #81b3d2;
}

.details:hover {
  background-color: #669ec0;
}

.details:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.to-book {
  width: 143px;
  background-color: #766357;
}

.to-book:hover {
  background-color: #604e43;
}

.to-book:active {
  background-color: #503e33;
  color: #928a85;
}

.catalog-item-rating {
  margin-bottom: 0;
  padding: 3px 0;
  padding-left: 17px;
  padding-right: 11px;
  font-size: 14px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #666666;
}

